[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
