<p>
  Published
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
      by <span itemprop="author">{{ index . }}</span>
    {{ else }}
      by <span itemprop="author">{{ .Site.Params.author }}</span>
    {{ end }}
  {{ end }}
  <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
    {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}
  </time>
  {{ with .Params.categories }}
    in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link.html" ".") "chomp" ".") ", " " and " }}</span>
  {{ end }}
  {{ with .Params.tags }}
    and tagged {{ delimit (apply (apply (sort .) "partial" "post/tag-link.html" ".") "chomp" ".") ", " " and " }}
  {{ end }}
  using <span itemprop="wordCount">{{ .WordCount }}</span> words.
</p>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.potatofrom.space/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

