<!-- Begin ISSO comments! -->
<script data-isso="https://potatofrom.space/isso/" src="https://potatofrom.space/isso/js/embed.min.js"></script>
<section id="isso-thread" style="background-color: #1f222a !important">

</section>
<style>
  .isso-postbox > .form-wrapper .textarea {
    background-color: #1f222a;
  }
  .isso-postbox > .form-wrapper > .auth-section .input-wrapper input,.isso-postbox > .form-wrapper > .auth-section .post-action > input,
  .isso-postbox {
    background-color: #1f222a;
    border: #1f222a;
    color: white;
  }
</style>