<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    <div class="menu-trigger">menu</div>
  </div>
  {{ if len $.Site.Menus }}
  {{ partial "menu.html" . }}
  {{ end }}

  <!-- Put quote wrapper as a div so that you can click anywhere to re-randomize
  the quote -->
  <div id="quote-wrapper" style="cursor: pointer; user-select: none">
    <small>
      <em>
        <span id="quote"></span>
      </em>
    </small>
  </div>


  <script module>
    // For readers of the source: this script produces a random quote on the
    // page on every load. The idea and the original quotes come from my old
    // website back in 2016. Some of the quotes are in-jokes, dated, or other-
    // wise slightly irrelevant now, but I still think they are useful.
    const quotes = [
      "&lt;PackOfOrphans&gt; your spider sounds were making me uncomfortable",

      "Yo soy Grooot!",

      "Estoy nublado, pero no estoy sol.",

      "Morning guys. I hope you remember today that if you slip up you can restart your day at any time. You don't have to wait til the next day to start over. Just sit down, breathe for a few minutes, and start again.<br>" +
      '-<a href="http://recoverykitty.tumblr.com/post/72548102239/morning-guys-i-hope-you-remember-today-that-if">recoverykitty.tumblr.com</a>',

      "You were afraid this might be the case. Your dad has blocked the front door with the REFRIGERATOR. Looks like he's taking the grounding seriously this time.",

      "GAMZEE: honk.<br>" +
      "KARKAT: WHAT.<br>" +
      "GAMZEE: HONK.<br>" +
      "KARKAT: WHAT DOES HONK MEAN THIS TIME YOU WHIMSICAL--",

      'Karkat: GOOD? GOOD? I WISH I HAD ITALICS OR BOLD TO SHOW JUST HOW HARD I AM QUESTIONING YOUR USE OF "GOOD".<br>' +
      'Karkat: WHAT DELUDED FANTASY HAS YOUR SINGLE BRAIN CELL CONJURED UP THAT ENTAILS THIS AS "GOOD"?<br>' +
      'Karkat: MAYBE THAT\'S IT! YOUR LONE CELL MUST HAVE OVERWORKED ITSELF AND MALFUNCTIONED. CALL THE REPORTERS BECAUSE I JUST FOUND US AN EXPLANATION!',

      "Matthew: estoy mochila",

      "Hola. Me llamo Juan. A yo le gusta practicar deportes. También, estoy regla.",

      "Whenever I think of quotes to put here, I always forget them! It's really quite annoying.",

      "<em><strong>What the frick frack diddly dack patty whack nick knack crackerjack quarterback bio feedback flour sack life hack shoe rack thumb tack even.</strong></em>",

      "Just because you don't have a great day doesn't mean you can't have a good day.<br>" +
      "-Olivia"
    ];

    const el = document.getElementById("quote");

    function randomize() {
      const index = Math.floor(Math.random() * quotes.length);
      el.innerHTML = quotes[index];
    }

    document.getElementById("quote-wrapper").addEventListener("click", randomize);
    randomize();
  </script>
</header>