---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      <span style="font-weight: 500">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>

    <div class="t-clearfix">
      <div class="t-float-right t-font-mono t-ml-5 t-max-w-[12rem]">
        <p class="t-font-bold">&gt;&gt; kevin.vcf &lt;&lt;</p>

        <ul style="list-style-type: '- '">
          <li><a href="mailto:kevin@kliu.io">📧 email</a></li>
          <li><a href="https://twitter.com/kliu128">🐦 twitter</a></li>
        </ul>

        <p class="t-font-bold"> &gt;&gt; blogroll &lt;&lt; </p>

        friends:
        <ul style="list-style-type: '- '">
          <li><a href="https://shough.me/">sidney hough</a></li>
          <li><a href="https://caseymanning.github.io">casey manning</a></li>
          <li><a href="https://miles.land/">miles mccain</a></li>
          <li><a href="https://jujujulian.xyz/">julian q</a></li>
          <li><a href="https://ksharda.me/">kunal sharda</a></li>
          <li><a href="https://lindatong.substack.com/">linda tong</a></li>
        </ul>

        others:
        <ul style="list-style-type: '- '">
          <li><a href="https://danluu.com/">dan luu</a></li>
          <li><a href="https://reboothq.substack.com">reboot</a></li>
          <li><a href="https://bounded-regret.ghost.io/">bounded regret</a></li>
          <li><a href="https://thezvi.wordpress.com/">don't worry about the vase</a></li>
          <li><a href="https://gwern.net">gwern</a></li>
        </ul>
      </div>
      {{ content }}
      {% include newsletter_signup.html %}

      {% if page.blog -%}
      <!-- News -->
      {%- include blog.html %}
      {%- endif %}
    </div>

    {% if page.selected_papers -%}
    <!-- Selected papers -->
    {%- include selected_papers.html %}
    {%- endif %}
    {%- if page.social %}
    <!-- Social -->
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>

      <div class="contact-note">
        {{ site.contact_note }}
      </div>

    </div>
    {%- endif %}
  </article>

</div>
